@import '_colors.scss';
@import '../../../bower_components/swiper/dist/css/swiper.css';

@font-face {
    font-family: 'open sans';
    src: url('../fonts/open-sans-condensed/bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{position: relative; box-sizing:border-box;}
html, body{margin: 0; padding: 0; height: 100%;}
body {font-family: 'open sans', sans-serif; background: white;}
.content{height: 100%; overflow: hidden;}
img{width: 100%; height: auto;}
h1{font-family: georgia, 'open sans', sans-serif; line-height: 1.1; font-weight: normal;}

// navigation tabs
.header-logo{
    position: absolute;
    top:0;
    left:0;
    width: 40px;
    background: #000;
    height: auto;
    z-index: 2;
    img{width: 30px; height: auto; margin: 2px;}
}
.tab-navigation{
    position: fixed;
    left:0;
    top: 0px;
    height: 35px;
    width: 100%;
    background: #000;
    font-size: 15px;
    z-index: 4;
    overflow: hidden;
    padding-left: 40px;
    box-shadow: 0px 3px 8px #333;
}
.tab-toggle{
    font-family: 'open sans', sans-serif;;
    width: auto;
    padding: 0 20px;
    background: #000;
    line-height: 35px;
    border-bottom:3px solid #000;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}
.tab-navigation .swiper-slide.active{border-bottom:3px solid white;}
.tabs-scroller{
    position: absolute;
    z-index: 2;
    left:0;
    top:35px;
    bottom:0px;
    width: 100%;
    overflow: hidden;
    background: #fff;
}
.list-scroller{
    position: absolute;
    top: 35px;
    bottom:0;
    left: 0;
    width: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 2;
    background: #fff;
}
// .vertical-scroller-wrapper{
//     float: left;
//     -webkit-overflow-scrolling: touch;
//     overflow: scroll;
// }
// .vertical-scroller-content{
//     transform: translate3d(0,0,0);
//     margin-bottom:30px;
//     border-bottom:1px solid;
// }
.currentBar{height: 3px; width: 100px; background: red; position: absolute; bottom:0; left:0; z-index: 4;}
.debug-connection{
    display: none;
    position: fixed;
    bottom: 3px;
    right: 3px;
    z-index: 10000;
    background: #fff;
    padding: 0 7px;
    text-align: right;
    text-transform: uppercase;
    font-size: 12px;
    color: red;
    border: 2px solid red;
}

// NEWSLIST ----
.newslist-block{
    position: relative;
    min-height: 180px;
    /* background placeholder */
    background: #de0000 url('../img/icon.png') center no-repeat;
    background-size: cover;
    border-bottom: 2px solid #ddd;
    .title-wrapper{
        position: absolute; bottom:0; left:0; right:0; min-height: 120px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%) no-repeat;
    }
    h1{
        position: absolute; bottom:7px; left:7px; right:7px;
        margin: 0; font-size: 20px;
        & > a {color:#fff; text-decoration: none; display: block; margin-bottom: 6px;}
        span{display: block; color: #fff ;font-family: 'open sans'; font-size: 12px; text-transform: uppercase;}
    }
}

// ARTICLE DETAIL
.article-detail{position: absolute; top:35px; bottom:0; left:0%; right:0; }
.article-navigation{position: absolute; top:0; left:0; bottom:0; right:0; }
.article-content{position: relative; overflow: scroll; padding: 15px;}
.post-kicker{text-transform: uppercase;}
.article-body{font-family: georgia; font-size: 16px;}
